.profile-pic {
    width: 50px;
    height: 50px;
    background-color: brown;
}

/* SOON */
input[type="file"] {
    display: none;
}

/* .file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
} */

.favorites {
    font-size: small;
    font-weight: bold;
}

.sub > .profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;  
    padding: 20px;
}

.list-group-item {
    border: none;
}

.bi-plus-lg, .drop-item {
    cursor: pointer;
}

.create-new-group:hover {
    background-color: lightgrey;
    padding: 5px 10px;
}

.others, .yours {
    padding: 4px 10px 10px 15px;
}

.others-text, .yours-text {
    font-size: 12px;
    font-weight: bold;
}

.group-page-top-sub-info {
    font-size: 15px;
    font-weight: 600;
}

.group-page-top, .canvas-top {
    border-bottom: 1px solid;
}

.chat-text-sec {
    overflow-wrap: anywhere;
    width: auto;
    font-size: 14px;
}
.chat-text {
    font-weight: 550;
}

@media screen and (max-width: 900px)  {
    .container-fluid {
        width: 100vw;
        height: 100vh;
        
    }
    /* .chat-list-item-user {
        margin-left: 20%;
    } */
    .chat-list-item, .chat-list-item-user {
        width: 80%;
        
    }
}

@media screen and (min-width: 900px) { 
    .container-fluid {
      height: 100vh;
      width: 80vw;
      overflow: auto;
      margin-bottom: 0;
    }
    .chat-list-item, .chat-list-item-user, .image-div-main {
        width: 100%;        
    }
    
    /* .chat-list-item-user {
        margin-left: 40%;
    }    */
    
}

.chat-body {
    height: 70vh;
    overflow-y: scroll;
    
}
/* #chat-message-info-list-item {
    height: 50vh;
    overflow-y: scroll;
} */

.form-control:focus {
    box-shadow: none;
}

.just-joined {
    font-size: 12px;
    font-style: italic;
}
#info-button {
    cursor: pointer;
    font-size: inherit;
}
 
.members-list-item > .sub > .profile-pic {
    width: 10px;
    height: 10px;
    padding: 10px;
    background-color: aliceblue;    
}

.members-list-item {
    cursor: pointer;
}

.members-list-item:hover {
    background-color: lightgray;
}

#select-dots-blade, #select-dots-js {
    visibility: hidden;
}

.group-chats-count {
    background-color: black;
    padding: 3px 10px;
    font-size: small;    
}

.chat-list-item, .chat-list-item-user {
    padding: 2px 4px;
    border-radius: 15px;
}

/* .chat-list-item {
    background-color: #f8f8f8;
}

.chat-list-item-user {
    background-color: #add8e6;
} */

.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 5px 10px;
    background-color: lightgray;
    font-weight: 800px;
    text-align: center;
    font-size: 16px;
}


.time {
    font-size: 12px;
}
.chat-username {
    font-size: 13px;
}

.bi-chevron-compact-left {
    font-size: 30px;
}

.emoji-dropleft {
    position: relative;
    display: inline-block;
}
.emoji-dropleft-content {
    display: none;
    position: absolute;
    bottom: 50px;
    right: 1px;
    max-width: 75vw;
    padding: 5px;    
    z-index: 1;
}

.emoji-category, .emoji-selected {
    cursor: pointer;
}

.collapse-btn:focus {
    outline: none;
}

.chats-body {
    height: 80vh;
}

.image-div {
    position: relative;
}

.img-thumbnail-btn-close {
    position: absolute;
    right: 0;
}